@import url(https://fonts.googleapis.com/css?family=Roboto:400,700&subset=latin,latin-ext);
body {
  font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.0; }

.body-relay {
  background-color: #1E1E20 !important; }

/*
 * FIX - Firefox has some awkward fieldset styling involving width that interferes
 * with the responsive table
*/
@-moz-document url-prefix() {
  fieldset {
    display: table-cell; } }

.fa-btn {
  margin-right: 6px; }

table {
  table-layout: fixed;
  word-wrap: break-word; }

h1, h2, h3, h4, h5 {
  color: #337ab7;
  font-weight: bold; }

.modal-content-text {
  word-wrap: break-word; }

.processing {
  position: absolute;
  top: 50% !important;
  left: 50% !important;
  width: 250px !important;
  height: 80px !important;
  margin-left: -125px !important;
  margin-top: -15px !important;
  padding: 15px 0 30px 0 !important;
  border: 1px solid #ddd !important;
  text-align: center;
  color: #444 !important;
  font-size: 14px !important;
  background: url("../images/loading_bar.gif") no-repeat center 38px #fff !important;
  box-shadow: 2px 2px 5px #444 !important;
  -moz-box-shadow: 2px 2px 5px #444 !important;
  -webkit-box-shadow: 2px 2px 5px #444 !important;
  z-index: 9999; }

.button-click {
  display: inline-block;
  margin: 0 auto;
  -webkit-border-radius: 10px;
  -webkit-box-shadow: 0px 3px #2B2C2C, 0px 4px #2C2D2F, 0px 5px #1E1E20, 0px 6px #000000, 0px 7px #1E1E1E, 0px 8px #000000, 0px 14px 6px -1px #111111;
  -webkit-transition: -webkit-box-shadow .1s ease-in-out; }

.button-click span {
  background-color: #E8E8E8;
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(50%, rgba(255, 255, 255, 0)), color-stop(50%, rgba(255, 255, 255, 0.3)), color-stop(100%, rgba(255, 255, 255, 0.2))), -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(210, 210, 210, 0.3)), color-stop(20%, rgba(210, 210, 210, 0)), color-stop(80%, rgba(210, 210, 210, 0)), color-stop(100%, rgba(210, 210, 210, 0.3))), -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(255, 255, 255, 0)), color-stop(20%, rgba(255, 255, 255, 0.5)), color-stop(80%, rgba(255, 255, 255, 0.5)), color-stop(100%, rgba(255, 255, 255, 0))), -webkit-gradient(linear, 0% 100%, 100% 0%, color-stop(0%, rgba(255, 255, 255, 0)), color-stop(40%, rgba(255, 255, 255, 0)), color-stop(40%, #D2D2D1), color-stop(60%, #D2D2D1), color-stop(60%, rgba(255, 255, 255, 0)), color-stop(100%, rgba(255, 255, 255, 0)));
  -webkit-box-shadow: 0px -1px #fff, 0px 1px 1px #FFFFFF;
  /* bottom edge */
  -webkit-background-size: 100%, 100%, 100%, 4px 4px;
  -webkit-border-radius: 10px;
  -webkit-transition: -webkit-transform .1s ease-in-out;
  display: inline-block;
  padding: 8px 18px 8px 18px;
  color: #3A474D;
  text-transform: uppercase;
  font-family: 'TradeGothicLTStd-BdCn20','PT Sans Narrow';
  font-weight: 700;
  font-size: 16px;
  text-shadow: 0px 1px #fff, 0px -1px #262F33; }

.button-click span:hover {
  color: #AEBF3B;
  text-shadow: 0px -1px #97A63A;
  cursor: pointer; }

.button-click:active {
  -webkit-box-shadow: 0px 3px #1E1E20, 0px 4px #232525, 0px 5px #2F2F30, 0px 6px #151515, 0px 7px #141414, 0px 8px #101010, 0px 10px 2px 0px rgba(0, 0, 0, 0.6); }

.button-click:active span {
  -webkit-transform: translate(0, 5px);
  /* depth of button press */ }

.button-click span:after {
  display: block;
  width: 10px;
  height: 10px;
  position: absolute;
  right: 14px;
  top: 12px;
  font-family: 'Cabin';
  font-weight: 700;
  color: #AEBF3B;
  text-shadow: 0px 1px #fff, 0px -1px #97A63A;
  font-size: 26px; }

.switch-content, .refresh-container {
  font-family: arial, verdana, sans-serif;
  font-size: 8px;
  background: #2f2f2f url("../images/fabric.png");
  text-align: center;
  padding-bottom: 36px; }
  .switch-content.tristate-content, .tristate-content.refresh-container {
    height: 125px; }

.refresh-container {
  padding-top: 20px;
  padding-right: 20px;
  height: 74px; }

/*# sourceMappingURL=app.css.map */
